body{
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
}
header{
    background-color: rgb(212, 251, 251);
    width: auto;
    height: 100px;
}
h2{
    font-size: 30px;
}
.submit-btn{
    border-radius: 5px;
    width: 100px;
    margin: auto 30px auto 20px;
}
.dark-mode{
    background-color: black;
    color: white;
}
#intro{
    background-image: url("https://img.freepik.com/premium-vector/abstract-blue-background-with-stars-aqua-blue-soft-texture-gradient-background_677428-432.jpg?w=1380");
}
#intro p{
    font-weight: bold;
}
#query-form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    line-height: 30px;
    padding: 20px;
    width: 500px;
    height: 250px;
    background-color: white;
    color: black;
    margin: 0 auto;
    text-align: left;
}
#items-list{
    margin: 100px auto 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
    width: 1500px;
}
.saleItems{
    border: solid 2px black;
    width: 400px;
    height: 300px;
}
.saleItems img{
    float: left;
    width:200px;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}
.submit-btn{
    border-radius: 5px;
    width: 100px;
    margin: auto 30px auto 20px;
}
.additional-info{
    margin-bottom: 60px;
}
.additional-info p{
    font-weight: bold;
}
footer{
    margin-bottom: 50px;
    font-size: 30px;
    background-color: rgb(212, 251, 251);
    height: 80px;
}